@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="~/images/DinoDiner-24.png" height="300" width="300"/>
<h2>
    <a asp-page="/Menu">Menu</a>
    <a asp-page="/Privacy">Privacy</a>
    <a asp-page="/About">About</a>
</h2>
